.navbar
{
    display: flex;
    flex-direction: column;

    width: 283px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: var(--color-dark-blue);
}

.logo 
{
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-large);
    width: 250px;
    height: 40px;
}

.logo:hover
{
    cursor: pointer;
}

.nav-link
{
    display: flex;
    margin: var(--margin-small);
}

.nav-link:hover 
{
    cursor: pointer;
    background: var(--color-off-dark-blue);
    border-radius: 10px;
}

.nav-icon
{
    width: 50px;
    height: 50px;
}

.nav-text
{
    margin: var(--margin-large);
    font-size: var(--font-small);
}
