@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<div class="navbar">
    <ul>
        <li>
            <div class="dashboard-page">
                <img class="nav-icon" src="resources/images/icons/reports-icon-white.png"/>
                <p class="nav-text">Reports</p>
            </div>
        </li>
        <li>
            <div class="dashboard-page">
                <img class="nav-icon" src="resources/images/icons/challenges-icon-heavy-white-512x512.png"/>
                <p class="nav-text">Challenges & Events</p>
            </div>
        </li>
        <li>
            <div class="dashboard-page">
                <img class="nav-icon" src="resources/images/icons/vendors-icon-white-512x512.png"/>
                <p class="nav-text">Vendors</p>
            </div>
        </li>
    </ul>
</div>

@code {

}