.navbar {
    width: 283px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #021E4C;
}

.dashboard-page{
    position: absolute;
    width: 283px;
    height: 47px;
    border-radius: 10px;
}

.dashboard-page:hover {
    background-color: #082A62;
}

.nav-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 2.5px;
}

.nav-text{
    position: absolute;
    width: 273px;
    /*height: 47px;*/
    top: 12px;
    left: 52px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;

    letter-spacing: 0.025em;

    color: #FFFFFF;
}

ul {
    list-style-type: none;
    height: 100vh;
}

li {
    display: flex;
    flex-direction: column;
}
