@page "/"

<PageTitle>Index</PageTitle>

<main class="content">
    <section class="hero">
        <img class="hero-logo" src="resources/images/logos/visa-logo-white-1150x122.png" alt="Logo" />
        <div class="hero-caption">
            <p class="hero-caption-header">Personalized Incentives And Experiences</p>
            <p class="hero-caption-subheader">For Your Customers</p>
            <button class="hero-cta-button">Get Started</button>
        </div>
    </section>
    <section class="overview">

    </section>
</main>
