@page "/"

<PageTitle>Index</PageTitle>

<main class="content">
    <section class="hero">
        <img class="hero-logo" src="resources/images/logos/visa-logo-white-1150x122.png" alt="Logo" />
        <div class="hero-caption">
            <p class="hero-caption-header">Personalized Incentives And Experiences</p>
            <p class="hero-caption-subheader">For Your Customers</p>
            <button class="hero-cta-button">Get Started</button>
        </div>
    </section>
    <section class="overview">
        <p class="overview-header">How It Works</p>
        <section class="categories"> 
            <section class="category-icons">
                <img class="category-icon-image" src="resources/images/icons/challenge-icon-512x512.png" alt="Rubix cube" />
                <img class="category-icon-image"src="resources/images/icons/tokens-icon-512x512.png" alt="Tokens" />
                <img class="category-icon-image" src="resources/images/icons/leaderboard-icon-512x512.png" alt="Leaderboard" />
            </section>
            <section class="category-content">

            </section>
        </section>
    </section>
</main>
