@page "/login"

<PageTitle>Login</PageTitle>

<main class="content">
    <div class="header-bar">
        <img class="header-logo" src="resources/images/logos/visa-logo-white-1150x122.png" alt="Logo" />
    </div>
    <section class="hero">
        <section class="split left">
            <button class="hero-cta-button">Get Started</button>
        </section>
        <section class="split right">
            <h3>Engage Your Customers</h3>
        </section>
    </section>
</main>

@code {

}
