:root 
{
    --color-blue: #1434CB;
    --color-dark-blue: #021E4C;
    --color-off-dark-blue: #082A62;
    --color-off-red: #E24747;
    --color-yellow: #FCC015;
    --color-white: #FFFFFF;
    --color-off-white: #F0F0F0;
    --color-orange: #F7A105;
    --color-light-gray: #C0BDBB;

    --font-small: 1.25rem; /* 20px */
    --font-medium: 1.5625rem; /* 25px */
    --font-large: 1.875rem; /* 30px */
    --font-xlarge: 2.5rem; /* 40px */
    --font-family: 'Noto Sans', sans-serif;

    --margin-small: .625rem; /* 10px */
    --margin-large: 1.25rem; /* 20px */
    --padding-small: .625rem; /* 10px */
    --padding-large: 1.25rem; /* 20px */
}
